/**
 * Author：tantingting
 * Time：2017/9/19
 * Description：Description
 */
@font-face {
    font-family: 'iconfont';  /* project id 575565 */
    src: url('//at.alicdn.com/t/font_575565_6qhijz6r21olayvi.eot');
    src:
        url('//at.alicdn.com/t/font_575565_6qhijz6r21olayvi.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_575565_6qhijz6r21olayvi.woff') format('woff'),
        url('//at.alicdn.com/t/font_575565_6qhijz6r21olayvi.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_575565_6qhijz6r21olayvi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 17px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-game-config:before {
    content: '\e6b8';
}

// 新闻图标
.icon-post:before {
    content: '\e645';
}

.icon-post-list:before {
    content: '\e88f';
}

.icon-post-info:before {
    content: '\e60a';
}

.icon-post-send:before {
    content: '\e600';
}

// 新闻聚合
.icon-merge:before {
    content: '\e61a';
}

// 快讯图标
.icon-flash:before {
    content: '\e638';
}

.icon-flash-list:before {
    content: '\e6db';
}

.icon-flash-send:before {
    content: '\e62a';
}

// 评论图标
.icon-comment:before {
    content: '\e62e';
}

.icon-comment-list:before {
    content: '\e63b';
}

// 广告图标
.icon-ad:before {
    content: '\e94e';
}

.icon-pc-list:before {
    content: '\e64a';
}

.icon-mobile-list:before {
    content: '\e650';
}

// ico图标
.icon-ico:before {
    content: '\e691';
}

.icon-ico-edit:before {
    content: '\e639';
}

// 审核图标
.icon-audit:before {
    content: '\e687';
}

.icon-identify:before {
    content: '\e63f';
}

.icon-article:before {
    content: '\e687';
}

// 直播图标
.icon-live:before {
    content: '\e61e';
}

.icon-live-user:before {
    content: '\e657';
}

// 专题管理
.icon-st:before {
    content: '\e601';
}

// 专栏作者管理
.icon-columnAuthor:before {
    content: '\e64f';
}

// 其他
.icon-save:before {
    content: '\e619';
}

.icon-edit:before {
    content: '\e630';
}

.icon-search:before {
    content: '\e7d4';
}

.icon-download:before {
    content: '\e63d';
}

.icon-upload:before {
    content: '\e6e7';
}

.icon-clear:before {
    content: '\e617';
}

// 上传
.iconfont-upload:before {
    content: '\e78a';
}

.iconfont-file:before {
    content: '\e602';
}

.iconfont-close:before {
    content: '\e652';
}

// 上传图片
.iconfont-add:before {
    content: '\e68c';
}

.iconfont-look:before {
    content: '\e603';
}

.iconfont-del:before {
    content: '\e659';
}
